@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-green: #b9ff66;
  --color-gray: #f3f3f3;
  --color-dark: #191a23;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --chart-1: 231 30% 24%;
  --chart-2: 232 14% 41%;
  --chart-3: 232 14% 41%; /* same as chart-2 */
  --chart-4: 229 14% 60%;
  --chart-5: 231 58% 95%;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: #b9ff66;
  --chart-2: #5a5f7a;
  --chart-3: #b9ff66;
  --chart-4: #b9ff66;
  --chart-5: #b9ff66;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-select {
    @apply bg-blue-200 text-black px-4 py-2 rounded;
  }

  .btn-deselect {
    @apply bg-white text-black px-4 py-2 rounded border;
  }

  .nav-btn {
    @apply rounded-full border border-transparent hover:border-black hover:font-semibold text-[16px] leading-6 px-1 md:px-2.5 py-2.5;
  }

  .blue-head {
    @apply bg-blue-200 px-2 py-3 rounded-xl;
  }
}

.primary-button {
  @apply bg-[#CAC5FE] z-50 text-black font-semibold rounded-full hover:opacity-80 px-6 py-2 hover:bg-[#CAC5FE] text-[14px];
}

@keyframes ripple1 {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple2 {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-ripple1 {
  animation: ripple1 2s infinite ease-out;
}

.animate-ripple2 {
  animation: ripple2 2s infinite ease-out;
  animation-delay: 0.5s;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 400px;
}
.embla__slide {
  width: fit-content;
}

.gradient {
  background: linear-gradient(135deg, #e8e9ea, #e7e9fb);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.common-loader {
  height: 15px;
  aspect-ratio: 6;
  display: flex;
}
.common-loader:before,
.common-loader:after {
  content: "";
  flex: 1;
  padding-left: calc(100% / 6);
  background: radial-gradient(
      closest-side at calc(100% / 3) 50%,
      #000 90%,
      #0000
    )
    0/75% 100% content-box;
  animation: l20 2s infinite;
}
.common-loader:after {
  --_s: -1;
}
@keyframes l20 {
  0% {
    transform: scale(var(--_s, 1)) translate(0) rotate(0);
  }
  25% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(0);
  }
  50% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(1turn);
  }
  75%,
  100% {
    transform: scale(var(--_s, 1)) translate(0) rotate(1turn);
  }
}
